* {
    box-sizing: border-box;
}

.card {
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
}

#tooltip, #title {
    font-family: Lato, Helvetica, "sans-serif";
}

body {
    border: 1px solid transparent;
    background: #dbdbdb;
    margin: 0;
    min-height: 100vh;
}

.svg-wrap {
    display: flex;
    position: relative;
    padding: 0 30px;
}

svg {
    background: whitesmoke;
    margin: 0 auto;
}

#title {
    text-align: center;
    margin: 45px 0;
}

.bar {
    fill: red;
}
.bar:hover {
    fill: blue;
}

#tooltip {
    opacity: 0;
    pointer-events: none;
    width: 160px;
    height: 120px;
    background: white;
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
}

#tooltip .tooltip-date {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#tooltip .tooltip-gdp {
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
